*.o
*.lo
*.la
*.*~
*~
.libs/

aclocal.m4
autom4te.cache/
chidb
config.*
configure
compile
depcomp
include/editline
install-sh
libtool
ltmain.sh
m4/
Makefile*
make_20210504-10h54m.log
missing
src/libchidb/.deps/
src/libchidb/.dirstamp
src/libchisql/.deps/
src/libchisql/.dirstamp
src/libchisql/sql-lexer.c
src/libchisql/sql-lexer.h
src/libchisql/sql-parser.c
src/libchisql/sql-parser.h
src/shell/.deps/
src/shell/.dirstamp
src/simclist/.deps/
src/simclist/.dirstamp
stamp-h1
test-driver
tests/.deps/

tmp.*